<div class="container row py-5 pl-5 col-md-12 text-center" style=" height: 84vh;">
  <div class="col-md-12" *ngIf="conocimiento == 'front'">
    <h2>Desarrollo de aplicaciones Web</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis est quis gravida euismod. Suspendisse imperdiet arcu
      sit amet lectus faucibus blandit vel sed ex. Vivamus ac ornare augue. Maecenas efficitur, lacus sed bibendum tincidunt,
      nibh eros commodo eros, nec feugiat urna nibh id odio. Proin nec commodo massa. Proin posuere quam non eros ultrices
      volutpat. Aenean viverra vel nibh a convallis. Sed at dictum nibh. Donec pharetra vestibulum velit eget porttitor.
      Quisque eros arcu, laoreet id faucibus sed, porta at sapien. Etiam dapibus, massa ut dictum tincidunt, velit libero
      lobortis lectus, vitae iaculis ante tellus quis tortor. Ut hendrerit, nibh eget dapibus laoreet, sem ante pulvinar
      orci, at malesuada diam metus at sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Etiam ultricies, erat in ullamcorper rutrum, ante elit auctor metus, in lacinia mi odio at urna.
      Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas
      ante, vitae auctor erat nulla in felis. Nunc vestibulum semper ex, sit amet scelerisque risus mollis eget.
    </p>

  </div>
  <div class="col-md-12" *ngIf="conocimiento == 'back'">
    <h2>Desarrollo de aplicaciones Mobile</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis est quis gravida euismod. Suspendisse imperdiet arcu
      sit amet lectus faucibus blandit vel sed ex. Vivamus ac ornare augue. Maecenas efficitur, lacus sed bibendum tincidunt,
      nibh eros commodo eros, nec feugiat urna nibh id odio. Proin nec commodo massa. Proin posuere quam non eros ultrices
      volutpat. Aenean viverra vel nibh a c rutrum, ante elit auctor metus, in lacinia mi odio at urna. Suspendisse potenti.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas ante, vitae auctor erat
      nulla in felis. Nunc vestibulum semper ex, sit amet scelerisque risus mollis eget. Suspendisse potenti. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas ante, vitae auctor erat nulla in
      felis. Nunc vestibulum semper ex, sit amet scelerisque risus mollis eget.
    </p>

  </div>
  <div class="col-md-12" *ngIf="conocimiento == 'video'">
    <h2>Desarrollo de aplicaciones Web</h2>
    <p>

      Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas ante,
      vitae auctor erat nulla in felis. Nunc vestibulum semper ex, sit amet scelerisque risus mollis eget. Suspendisse potenti.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas ante, vitae auctor erat
      nulla in felis. Nunc vestibulum semper ex, sit amet scelerisque risus mollis eget. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Sed mattis est quis gravida euismod. Suspendisse imperdiet arcu sit amet lectus faucibus blandit vel
      sed ex. Vivamus ac ornare augue. Maecenas efficitur, lacus sed bibendum tincidunt, nibh eros commodo eros, nec feugiat
      urna nibh id odio. Proin nec commodo massa. Proin posuere quam non eropulvinar orci, at malesuada diam metus at sapien.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam ultricies, erat
      in ullamcorper rutrum, ante elit auctor metus, in lacinia mi odio at urna. Suspendisse potenti. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Cras dapibus, velit rutrum blandit mattis, mauris libero egestas ante, vitae auctor erat nulla in felis. Nunc
      vestibulum semper ex, sit amet scelerisque risus mollis eget.
    </p>

  </div>
</div>