<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark" style="height: 8vh;">
  <a class="navbar-brand mr-5 ml-3" routerLink="/"><b>Jesus Caballero</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-5 pl-5 collapse navbar-collapse text-center" id="navbarNavAltMarkup">
    <div class="ml-5 pl-5 navbar-nav text-center">
      <a class="ml-5 nav-item nav-link" routerLink="/estudios" routerLinkActive="active-link"><b>Estudios</b></a>
      <a class="ml-5 nav-item nav-link" routerLink="/conocimientos" routerLinkActive="active-link"><b>Conocimientos</b></a>
      <!-- <a class="ml-5 nav-item nav-link" routerLink="/proyectos" routerLinkActive="active-link"><b>Experiencia y proyectos</b></a> -->
    </div>
  </div>
</nav>
